<?xml version="1.0" encoding="UTF-8"?>
<!--
###############################################################################
# Copyright (c) 2017 Chen Chao(cnfree2000@hotmail.com).
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Eclipse Public License v1.0
# which accompanies this distribution, and is available at
# http://www.eclipse.org/legal/epl-v10.html
#
# Contributors:
#  Chen Chao  - initial API and implementation
###############################################################################
-->
<plugin>
	<extension-point id="decompilerAdapters" name="decompilerAdapters" schema="schema/decompilerAdapters.exsd"/>
    <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%DecompilerView"
            icon="icons/decompiler.png"
            extensions="class"
            class="org.sf.feeling.decompiler.editor.JavaDecompilerClassFileEditor"
            contributorClass="org.eclipse.jdt.internal.ui.javaeditor.ClassFileEditorActionContributor"
            id="org.sf.feeling.decompiler.ClassFileEditor"
            symbolicFontName="org.eclipse.jdt.ui.editors.textfont"
            filenames="*.class without source">
            <contentTypeBinding
               contentTypeId="org.eclipse.jdt.core.javaClass"
            /> 
      </editor>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.javaEditorTextHovers">
      <hover
            label="Javadoc"
            description="Shows the Javadoc of the selected element."
            class="org.sf.feeling.decompiler.editor.DisassemblerJavadocHover"
            id="org.sf.feeling.decompiler.editor.DisassemblerJavadocHover">
      </hover>
   </extension>
   <extension         
         point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="org.sf.feeling.decompiler.ClassFileEditor"
            id="org.sf.feeling.decompiler.ClassFileEditor.BreakpointRulerActions">
         <action
               label="Toggle Breakpoint"
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               actionID="RulerDoubleClick"
               id="org.eclipse.jdt.debug.ui.actions.ManageBreakpointRulerAction">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%Decompiler"
            category="org.eclipse.jdt.ui.preferences.JavaBasePreferencePage"
            class="org.sf.feeling.decompiler.preferences.JavaDecompilerPreferencePage"
            id="org.sf.feeling.decompiler.Main">
      </page>
      <page
            name="%Disassembler"
            category="org.sf.feeling.decompiler.Main"
            class="org.sf.feeling.decompiler.preferences.DisassemblerPreferencePage"
            id="org.sf.feeling.decompiler.Disassembler">
      </page>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.javaElementFilters">
      <filter
            targetId="org.eclipse.jdt.ui.PackageExplorer"
            name="%Decompiler.Filter"
            enabled="true"
            description="%Decompiler.Filter.Description"
            pattern=".decompiler*">
      </filter>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            class="org.sf.feeling.decompiler.actions.OpenClassWithContributionFactory"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?before=group.edit">
      </menuContribution>
      <menuContribution
            allPopups="false"
            class="org.sf.feeling.decompiler.actions.OpenClassWithContributionFactory"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?before=group.edit">
      </menuContribution>
      <menuContribution
            allPopups="false"
            class="org.sf.feeling.decompiler.actions.ExportSourceContributionFactory"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?before=group.edit">
      </menuContribution>
      <menuContribution
            allPopups="false"
            class="org.sf.feeling.decompiler.actions.ExportSourceContributionFactory"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?before=group.edit">
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup class="org.sf.feeling.decompiler.Startup"/>
   </extension>
   <extension point="org.eclipse.ui.commands">  
      <category id="org.sf.feeling.decompiler"  
            name="Eclipse Class Decompiler">  
      </category>  
      <command  
            name="Decompile"  
            categoryId="org.sf.feeling.decompiler"  
            id="org.sf.feeling.decompiler.decompile">  
      </command> 
      <command  
            name="Decompile"  
            categoryId="org.sf.feeling.decompiler"  
            id="org.sf.feeling.decompiler.debugMode">  
      </command>
      <command  
            name="Show Source Code"  
            categoryId="org.sf.feeling.decompiler"  
            id="org.sf.feeling.decompiler.sourcecode">  
      </command>
      <command  
            name="Show Byte Code"  
            categoryId="org.sf.feeling.decompiler"  
            id="org.sf.feeling.decompiler.bytecode">  
      </command>
      <command  
            name="Show Disassembler"  
            categoryId="org.sf.feeling.decompiler"  
            id="org.sf.feeling.decompiler.disassembler">  
      </command>
      <command  
            name="Decompile"  
            categoryId="org.sf.feeling.decompiler"  
            id="org.sf.feeling.decompiler.decompile">  
      </command>  
      <command  
            name="Decompile With FernFlower"  
            categoryId="org.sf.feeling.decompiler"  
            id="org.sf.feeling.decompiler.decompile.fernflower">  
      </command>  
   </extension> 
   <extension
 		point="org.eclipse.ui.bindings">
 		<key
      		sequence="Ctrl+Alt+,"
      		commandId="org.sf.feeling.decompiler.decompile"
      		schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
		</key>
		<key
      		sequence="Ctrl+Alt+."
      		commandId="org.sf.feeling.decompiler.debugMode"
      		schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
		</key>
 	</extension>
 	<extension  
         point="org.eclipse.ui.handlers">  
      <handler  
            commandId="org.sf.feeling.decompiler.decompile"  
            class="org.sf.feeling.decompiler.actions.DecompileHandler">  
      </handler>
      <handler  
            commandId="org.sf.feeling.decompiler.disassembler"  
            class="org.sf.feeling.decompiler.actions.DisassemblerHandler">  
      </handler> 
      <handler  
            commandId="org.sf.feeling.decompiler.bytecode"  
            class="org.sf.feeling.decompiler.actions.ByteCodeHandler">  
      </handler>
      <handler  
            commandId="org.sf.feeling.decompiler.sourcecode"  
            class="org.sf.feeling.decompiler.actions.SourceCodeHandler">  
      </handler> 
      <handler  
            commandId="org.sf.feeling.decompiler.debugMode"  
            class="org.sf.feeling.decompiler.actions.DebugModeHandler">  
      </handler>  
      <handler  
            commandId="org.sf.feeling.decompiler.decompile.fernflower"  
            class="org.sf.feeling.decompiler.actions.DecompileWithFernFlowerHandler">  
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            targetID="#ClassFileEditorContext"
            id="org.sf.feeling.decompiler.ExportSouceMenuAction">
         <action
               label="%ExportSource"
               class="org.sf.feeling.decompiler.actions.ExportSourceActionDelegate"
               menubarPath="org.sf.feeling.decompiler.main"
               id="org.sf.feeling.decompiler.actions.ExportSourceAction"
               icon="icons/etool16/export_wiz.png"
               >
         </action>
         <action
               label="%DebugMode"
               class="org.sf.feeling.decompiler.actions.DebugModeActionDelegate"
               menubarPath="org.sf.feeling.decompiler.main"
               id="org.sf.feeling.decompiler.actions.DebugModeAction"
               style="toggle"
               >
         </action>
         <action
               label="%ShowDisassembler"
               class="org.sf.feeling.decompiler.actions.DisassemblerActionDelegate"
               menubarPath="org.sf.feeling.decompiler.source"
               id="org.sf.feeling.decompiler.actions.DisassemblerAction"
               style="toggle"
               >
         </action>
         <action
               label="%ShowByteCode"
               class="org.sf.feeling.decompiler.actions.ByteCodeActionDelegate"
               menubarPath="org.sf.feeling.decompiler.source"
               id="org.sf.feeling.decompiler.actions.ByteCodeAction"
               style="toggle"
               >
         </action>
         <action
               label="%ShowSourceCode"
               class="org.sf.feeling.decompiler.actions.SourceCodeActionDelegate"
               menubarPath="org.sf.feeling.decompiler.source"
               id="org.sf.feeling.decompiler.actions.SourceCodeAction"
               style="toggle"
               >
         </action>
      </viewerContribution>
   </extension>
   <extension
       point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation targetID="org.sf.feeling.decompiler.decompilerActionSet">
         <part id="org.sf.feeling.decompiler.ClassFileEditor"/>
      </actionSetPartAssociation>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">         
         <actionSet
            label="%Decompiler"
            visible="false"
            id="org.sf.feeling.decompiler.decompilerActionSet">
         <menu
               label="%DecompilerBar"
               id="decompilerMenu">
               <separator
                  name="decompilerGroup">
    		   </separator>
    		   <separator
                  name="sourceGroup">
    		   </separator>
    		   <separator
                  name="debugGroup">
    		   </separator>
    		   <separator
                  name="preferenceGroup">
    		   </separator>
         </menu>
         <action
               class="org.sf.feeling.decompiler.actions.DecompilerMenuItemAction"
               enablesFor="*"
               hoverIcon="icons/decompiler.png"
               icon="icons/decompiler.png"
               id="org.sf.feeling.decompiler.actions.DecompilerToolbarMenu"
               label="%Decompiler"
               style="pulldown"
               toolbarPath="org.eclipse.ui.edit.text.actionSet.presentation/Decompiler"
               tooltip="%Decompiler">
         </action>
         <action
               class="org.sf.feeling.decompiler.actions.ExportSourceMenuItemAction"
               enablesFor="*"
               hoverIcon="icons/etool16/export_wiz.png"
               icon="icons/etool16/export_wiz.png"
               disabledIcon="icons/dtool16/export_wiz.png"
               id="org.sf.feeling.decompiler.actions.ExportSourceMenu"
               label="%ExportSource"
               style="push"
               menubarPath="decompilerMenu/decompilerGroup">
         </action>
         <action
               class="org.sf.feeling.decompiler.actions.DecompilerMenuItemAction"
               enablesFor="*"
               hoverIcon="icons/decompiler.png"
               icon="icons/decompiler.png"
               id="org.sf.feeling.decompiler.actions.DecompilerMenu"
               label="%DecompilerAction"
               style="pulldown"
               menubarPath="decompilerMenu/decompilerGroup">
         </action>
         <action
               class="org.sf.feeling.decompiler.actions.PreferenceMenuItemAction"
               enablesFor="*"
               id="org.sf.feeling.decompiler.actions.preferenceMenu"
               label="%Preferences"
               style="push"
               menubarPath="decompilerMenu/preferenceGroup">
         </action>
         <action
               class="org.sf.feeling.decompiler.actions.DebugModeMenuItemAction"
               enablesFor="*"
               id="org.sf.feeling.decompiler.actions.debugModeMenu"
               label="%DebugMode"
               style="toggle"
               menubarPath="decompilerMenu/debugGroup">
         </action>
         <action
               class="org.sf.feeling.decompiler.actions.DisassemblerMenuItemAction"
               enablesFor="*"
               id="org.sf.feeling.decompiler.actions.disassemblerMenu"
               label="%ShowDisassembler"
               style="toggle"
               menubarPath="decompilerMenu/sourceGroup">
         </action>
         <action
               class="org.sf.feeling.decompiler.actions.ByteCodeMenuItemAction"
               enablesFor="*"
               id="org.sf.feeling.decompiler.actions.byteCodeMenu"
               label="%ShowByteCode"
               style="toggle"
               menubarPath="decompilerMenu/sourceGroup">
         </action>
         <action
               class="org.sf.feeling.decompiler.actions.SourceCodeMenuItemAction"
               enablesFor="*"
               id="org.sf.feeling.decompiler.actions.sourceCodeMenu"
               label="%ShowSourceCode"
               style="toggle"
               menubarPath="decompilerMenu/sourceGroup">
         </action>
         <action
               allowLabelUpdate="true"
               style="toggle"
               toolbarPath="org.eclipse.ui.edit.text.actionSet.presentation/Presentation"
               id="org.eclipse.jdt.ui.edit.text.java.toggleMarkOccurrences"
               definitionId="org.eclipse.jdt.ui.edit.text.java.toggleMarkOccurrences"
               disabledIcon="icons/dtool16/mark_occurrences.png"
               icon="icons/etool16/mark_occurrences.png"
               helpContextId="org.eclipse.jdt.ui.toggle_mark_occurrences_action_context"
               label="%toggleMarkOccurrences.label"
               retarget="true"
               tooltip="%toggleMarkOccurrences.tooltip">
         </action>
         <action
               allowLabelUpdate="true"
               style="toggle"
               toolbarPath="org.eclipse.ui.edit.text.actionSet.presentation/Presentation"
               id="org.eclipse.jdt.ui.edit.text.java.toggleBreadcrumb"
               definitionId="org.eclipse.jdt.ui.edit.text.java.toggleBreadcrumb"
               disabledIcon="icons/dtool16/toggle_breadcrumb.png"
               icon="icons/etool16/toggle_breadcrumb.png"
               helpContextId="org.eclipse.jdt.ui.toggle_mini_browser_action_context"
               label="%toggleBreadcrumb.label"
               retarget="true"
               tooltip="%toggleBreadcrumb.tooltip">
         </action>
      </actionSet>
   </extension>
   <extension point="org.eclipse.help.toc">
    <toc file="doc/toc.xml" primary="true" />
  </extension>	 
</plugin>
